<div class="wrapper">
        <div class="main-panel"><br><br><br><br><br><br><br><br><br><br>
            <footer class="footer">
                <div class="container-fluid">
                <nav class="float-right">
                    <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                        Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://creative-tim.com/presentation">
                        About Us
                        </a>
                    </li>
                    <li>
                        <a href="">
                        Blog
                        </a>
                    </li>
                    <li>
                        <a href="">
                        Licenses
                        </a>
                    </li>
                    </ul>
                </nav>
            
                </div>
        </footer>
    </div>
</div>